<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
  <title>Validação manual De Dados com Feedback em HTML</title>
</head>

<body>
  <form action="/" method="POST">     
    <div class="container">
      <h1>Validação manual De Dados com Feedback em HTML</h1>
      <div class="inputs">
        <br><label><b>Nome:</b></label></br>
        <input type="text" name="nome" required minlength="3">

        <br><label><b>E-mail:</b></label></br>
        <input type="email" name="email" required>

        <br><label><b>Senha:</b></label></br>
        <input type="password" name="senha" required maxlength="12" minlength="8">

        <br><label><b>Confirmação da senha: </b></label></br>
        <input type="password" name="senha2" required>

      </div>

      {% if errors %}
      <div style="color: red;">
        <strong>Erros encontrados:</strong>
        <ul>
          {% for error in errors %}
          <li>{{ error }}</li>
          {% endfor %}return render_template('index.html', errors=errors)
        </ul>
      </div>
      {% endif %}
      <br><button type="submit" class="button">Enviar</button></br>
  </form>


</body>

</html>